{% extends 'base_signup.html' %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% block title %}
Sign in
{% endblock title %}

{% block heading %}
Restaurant - Signup
{% endblock heading %}

{% block content %}

{% load crispy_forms_tags %}
 
<form method="POST" enctype='multipart/form-data'>

    {% csrf_token %}
    
    {{user_form|crispy}}
    {{restaurant_form|crispy}}
    <button type="submit" class="btn btn-pink pull-right">Sign up</button>
    </form>
    <a href = "{% url 'restaurant-sign-in'%}">Already have an account?</a>

{% endblock content %}
